genus.*
innovus.*

out/
tmp/
logs/
reports/
.cadence/

.*.timestamp

*.tstamp
timingReports/
checkDesign/
fv/
fv*/
genus2invs*
*.old
*.rpt
*.mtarpt
mp_data
.timing_file*
scheduling_file.*
*.pinfo
.st_launch_*

tcbn65gplushpbwp.v